@tailwind base;
@tailwind components;
@tailwind utilities;

.stripy-background {
  --scale: 3rem;
  --green: theme("colors.green.300");
  --pink: theme("colors.pink.300");

  background-color: var(--pink);
  background-image: linear-gradient(-45deg, transparent 75%, var(--green) 75%),
    linear-gradient(-135deg, transparent 75%, var(--green) 75%),
    linear-gradient(45deg, transparent 75%, var(--green) 75%),
    linear-gradient(135deg, transparent 75%, var(--green) 75%);
  background-size: var(--scale) var(--scale);
  /*background-position: 2rem 0, 4rem 0, 0 0, 0 0;*/

  animation: slidey 15s linear infinite;
}

@keyframes slidey {
  from {
    background-position: 0 0, 0 0, 0 0, 0 0;
    /*background-position: 2rem 0, 4rem 0, 0 0, 0 0;*/
  }
  to {
    background-position: 0 var(--scale), 0 var(--scale),
      0 calc(-1 * var(--scale)), 0 calc(-1 * var(--scale));
    /*background-position: 4rem 0, -4rem 4rem, -4rem 0, 2rem 0;*/
    /*background-position: 6rem 0, 4rem 0, 0 0, 0 0;*/
  }
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 4px;
}
